extends layout

block content
  div.div-main.container-fluid
    div.row
      div.div-rooms.col-5
        div.div-title
          p Roomlist
          span
          button.btn.btn-secondary.btn-sm Create
        div.div-table
          table.table.table-hover
            thead
              tr
                th #
                th ROOM TITLE
                th USER
                th TIME
            tbody
              tr
                th 1
                td 얘들아 같이 게임하자
                td 김대근
                td 1시간 전
              tr
                th 2
                td 빨리 들어오라구우우우우우
                td 이경서
                td 2시간 전
      span.col-2
      div.div-readme.col-5
        div#viewer