html {
  height: 100%;
}
  
body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.div-main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: calc(100% - 70px);
  margin: 0px;
}

.div-header {
  display: table;
  height: 70px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
}

.div-header > p {
  min-width: 50px;
  padding: 0px;
  display: table-cell;
  font-size: 2rem;
  color: white;
  vertical-align: middle;
}

.div-header > span {
  display: table-cell;
  width: calc(100% -160px);
}

.div-header-btns {
  width: 160px;
  display: table-cell;
  vertical-align: middle;
}

.div-header-btns > button {
    margin: 0px;
}

.div-first-row {
  height: 100%;
}