html {
  height: 100%;
  font-size: 20px;
}
  
body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.div-main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: calc(100% - 70px);
  margin: 0px;
}

.div-header {
  display: flex;
  height: 10%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
  align-items: center;
}

.div-header > p {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  color: white;
}


@media only screen and (min-device-width: 375px) 
and (max-device-width: 780px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){
  .div-header > p{
    font-size: 3rem;
  }

  .div-header-btns > button{
    font-size: 1.5rem;
    padding: .5rem .75rem;
  } 
}

@media only screen and (max-width: 780px){
  .div-header > p{
    font-size: 3rem;
  }

  .div-header-btns > button{
    font-size: 1.5rem;
    padding: .5rem .75rem;
  } 
}

.div-header > span {
  display: inline-block;
  width: 100%;
}

.div-header-btns {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.div-header-btns > button {
    margin: 0px;
}

.div-first-row {
  height: 100%;
}