#div_board > td {
  border: 1px solid black;
  padding: 10px;
}

#div_board > table {
  background-color: burlywood !important;
  width: 80%;
  height: 90%;
}

#div_board{
  height: 100%;
}

#btnCreateRoom{
  display: inline-block;
}

#btnLeaveRoom{
  display: none;
}

.stoneBlink {
  animation: blink-animation 0.5s steps(5, start) infinite alternate;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite alternate;
}

.main_div {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .main_div {
    position: relative;
    margin: 0 auto;
    width: 95%;
  }

  .header {
    padding-left: 5px;
  }

  html {
    height: 80%;
  }
}

@keyframes blink-animation {
  from{
    visibility: visible;
  }
  to{
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  from{
    visibility: visible;
  }
  to{
    visibility: hidden;
  }
}
