body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  border: 1px solid black;
  padding: 10px;
}

table {
  background-color: burlywood;
}

#div_board{
  display: none;
}

#btnLeaveRoom{
  display: none;
}

.stoneBlink {
  animation: blink-animation 0.5s steps(5, start) infinite alternate;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite alternate;
}

@keyframes blink-animation {
  from{
    visibility: visible;
  }
  to{
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  from{
    visibility: visible;
  }
  to{
    visibility: hidden;
  }
}
